@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wdth,wght@0,62.5..100,100..900;1,62.5..100,100..900&display=swap");
@import "tailwindcss";
@plugin "daisyui" {
    themes: false;
}

@custom-variant dark (&:where(.dark, .dark *));
@source "../../vendor/robsontenorio/mary/src/View/Components/**/*.php";
@source "../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php";
@source "../../storage/framework/views/*.php";
@source "../**/*.blade.php";
@source "../**/*.js";
@source "../**/*.vue";

@theme {
    --font-noto: Noto Sans, sans-serif;
}

@import "./markdown.css";
@import "./loadingCoffee.css";

body {
    @apply font-noto;
}

section {
    @apply flex flex-col gap-6;
}

article {
    @apply grid lg:grid-cols-5 md:grid-cols-4 sm:grid-cols-3 grid-cols-2 w-full gap-6;
}

.input,
.select,
.textarea {
    @apply bg-accent !outline-none;
}

.input:not([class*="!input-error"]),
.select:not([class*="!select-error"]),
.textarea:not([class*="!textarea-error"]) {
    @apply focus-within:border-primary focus-within:border-2;
}

.fieldset-legend {
    @apply text-[0.9rem] opacity-90;
}

.fieldset-label {
    @apply text-sm;
}

.fieldset .text-error {
    @apply text-sm font-medium;
}

.btn {
    @apply border-0;
}
.navbar-dropdown {
    ul,
    .menu {
        a {
            @apply active:bg-transparent;
        }
    }
}

.spotlight .input {
    @apply bg-base-100 border-0;
}

@plugin "daisyui/theme" {
    name: "dark";
    default: true;
    prefersdark: false;
    color-scheme: "dark";
    --color-primary: oklch(49.3% 0.254 265.968);
    --color-primary-content: oklch(98.6% 0 89.876);
    --color-secondary: oklch(63.2% 0.197 253.44);
    --color-secondary-content: oklch(98.6% 0 89.876);
    --color-accent: oklch(37.8% 0 89.876);
    --color-accent-content: oklch(98.6% 0 89.876);
    --color-neutral: oklch(67.6% 0 89.876);
    --color-neutral-content: oklch(98.6% 0 89.876);
    --color-base-100: oklch(18.8% 0 89.876);
    --color-base-200: oklch(27.3% 0 89.876);
    --color-base-300: oklch(9% 0 89.876);
    --color-base-content: oklch(98.6% 0 89.876);
    --color-info: oklch(40.1% 0.178 269.113);
    --color-info-content: oklch(98.6% 0 89.876);
    --color-success: oklch(62% 0.194 149.214);
    --color-success-content: oklch(98.6% 0 89.876);
    --color-warning: oklch(64% 0.222 41.116);
    --color-warning-content: oklch(98.6% 0 89.876);
    --color-error: oklch(57% 0.245 27.325);
    --color-error-content: oklch(98.6% 0 89.876);
    --radius-selector: 0.25rem;
    --radius-field: 0.25rem;
    --radius-box: 0.5rem;
    --size-selector: 0.25rem;
    --size-field: 0.25rem;
    --border: 1px;
    --depth: 1;
    --noise: 0;
}
